.my_height{
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}
.imgradious{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.messaggio{
    position: fixed;
    right: 0;
    bottom: 0;
}
.myWidth{
    width: 70%;
}
.radiousInput{
    border-radius: 20px;
}
.sfondoChat{
    background-image: url(./bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png) ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.361);
}
.inputMessaggio{
    background-color: rgb(42, 42, 42);
    color: white;
}
.HRsottoutenti{
    width: 90%;
    color: wheat;
    height: 1px;
    text-align: center;
}
.BACKallchat{
    background-color: rgb(22, 21, 29);
    color: whitesmoke;
}

.received{
    align-self: start;
    padding:10px 10px;
    background-color: rgb(235, 236, 233) ;
    border-radius: 15px;
    margin: 10px;
}
.sent{
    align-self: end;
    padding:10px 10px;
    background-color: rgb(175, 211, 120) ;
    border-radius: 15px;
    margin: 10px;
}
